/* ------------------ GLOBAL ------------------ */

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

body {
    margin:0px;
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
}
h1 {
    margin: 0;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    font-size: 3vmin;
    padding: 0;
}
p {
    margin: 0;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

/* ------------------ HEADER ------------------ */

.header {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 15vmin;
}

.header-static {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 11vmin;
    border-bottom-left-radius: 4vmin;
    border-bottom-right-radius: 4vmin;
    background-image: linear-gradient(rgb(100, 136, 255), rgb(133, 161, 255));
}
.header-drop {
    z-index: 0;
    position: relative;
    top: -34vmin;
    height: 38vmin;
    min-height: fit-content;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 4vmin;
    border-bottom-right-radius: 4vmin;
    transition-duration: 0.5s;
}
.header-drop:hover {
    transition-duration: 0.5s;
    top: -4vmin;
}

.header-drop-data {
    z-index: 1;
    position: relative;
    height: 26vmin;
    min-height: fit-content;
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-bottom-left-radius: 4vmin;
    border-bottom-right-radius: 4vmin;
    background-color: rgb(220, 228, 255)
}
.header-drop-data::-webkit-scrollbar {
    display: none;  /* Crome, Safari, Opera */
}
.header-drop-color {
    z-index: 0;
    position: relative;
    top: -4vmin;
    height: 8vmin;
    width: 100%;
    box-shadow: 0.5vmin;
    background-image: linear-gradient(rgb(121, 152, 255), rgb(145, 171, 255));
}
.header-drop-footer {
    z-index: 0;
    position: relative;
    top: -8vmin;
    height: 4vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
}

.course-cell {
    position: relative;
    width: 100%;
    padding-left: 3vmin;
}
.course-cell-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    transition-duration: 0.5s;
    opacity: 0;
}
.course-cell-link:hover {
    transition-duration: 0.5s;
    opacity: 0.1;
}

/* ------------------ PAGE ------------------ */

.page-content {
    z-index: 0;
    position: relative;
    min-height: calc(100vh - 25vmin);
    overflow: hidden;
}
.background-image-1 {
    position: relative;
    border-bottom-left-radius: 4vmin;
    border-bottom-right-radius: 4vmin;
    overflow: hidden;
}
.background-image-1-end {
    position: relative;
}
.background-image-1-color-1 {
    z-index: -1;
    position: absolute;
    top: 0vmin;
    width: 100%;
    height: 8vmin;
    background-image: linear-gradient(rgb(230, 230, 230), rgb(246, 246, 246));
}
.background-image-1-color-2 {
    z-index: -2;
    position: absolute;
    top: 0vmin;
    width: 100%;
    min-height: inherit;
    height: 10000vh;
    background-color: rgb(246, 246, 246);
}

/* ------------------ FOOTER ------------------ */

.footer {
    height: 10vmin;
    background-image: linear-gradient(rgb(145, 171, 255), rgb(100, 136, 255));
}

/* ------------------ CONTENT ------------------ */

.lesson-cell {
    overflow: hidden;
    transition-duration: 0.5s;
    max-height: 8vmin;
}
.lesson-cell:hover {
    transition-duration: 0.5s;
    max-height: 20vmin;
}

.lesson-cell-title {
    height: 4vmin;
    display: flex;
    align-items: center;
    padding-left: 10vmin;
}
.lesson-cell-desc {
    height: 12vmin;
    padding-top: 0;
    padding-left: 4vmin;
    padding-bottom: 0;
}
.lesson-cell-link {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 10000vh;
    width: 100%;
}

.comment-zone {
    width: 100%;
    padding-top: 3vmin;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-start;
}

.comment-list {
    flex: 1 0 60vmin;
    padding-left: 3vmin;
}
.comment-form {
    flex: 1 0 40vmin;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin: 1vmin;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0.3vmin;
    border-radius: 2vmin;
    padding: 1vmin;
}

.comment-input:empty::before {
    content: "Start typing here...";
    color: grey;
}

.comment-input, .comment-input:focus {
    display: inline-block;
    width: 100%;
    margin: 0;
    margin-bottom: 2vmin;
    border: none;
    outline: none;
    padding: 0;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    word-wrap: break-word;
    word-wrap: anywhere;
}
.comment-submit {
    background-color: rgb(133, 161, 255);
    display: inline-block;
    height: 3vmin;
    min-height: fit-content;
    width: 20%;
    min-width: fit-content;
    font-size: 1.5vmin;
    border: none;
    border-radius: 1vmin;
}
